name: Publish Action

on:
    release:
        types: [published, edited]

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.release.tag_name }}

            - name: Update major and minor tags
              uses: Actions-R-Us/actions-tagger@v2
              with:
                  publish_latest_tag: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
